.page-container {
    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #fff;
        font-size: 2rem;
    }
}

.add-comment-form {
    border: 2px solid #fff;
    padding: 50px 80px;
    border-radius: 30px;
    .cta {
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            gap: 5px;
            transition: all 0.3s;
            margin-bottom: 30px;
            &:hover {
                span {
                    margin-left: 15px;
                }
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        color: #fff;
    }
    button {
        margin-top: 10px;
    }
}