.custom-button {
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: #2e5089;
    }
}

